*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

header{
    position: relative;
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 52px;
    margin-bottom: 20px;
}

p{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
}

/* ----START NAVBAR---- */
.nav-container{
    position: relative;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding:20px 0;
}

.nav-container::after{
    content: "";
    display: table;
    clear: both;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 0 15px;
}

.nav-container .logo{
    width: 15%;
}

.logo img{
    width: 100%;
    vertical-align: middle;
}

.nav-container .login{
    width: 15%;
}

nav{
    width: 70%;
}
/* ----END NAVBAR---- */

/* ----START JUMBOTRON---- */
header .jumbotron{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* ----END JUMBOTRON---- */

/* ----START BUTTON---- */
.btn{
	border-radius:50px;
	cursor:pointer;
    padding:10px 20px;
    font-size: 22px;
    line-height: 22px;
    margin: 20px;
}

.light-btn {
	color:black;
    background-color:white;
}

.dark-btn {
	color:white;
    background-color:#333;
}
/* ----END BUTTON---- */

/* ----START DOWN ARROW---- */
.dwn-arrow::before{
    content: "\1F813\0020";
    font-weight: bold;
}
/* ----END DOWN ARROW---- */